  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
  }

  header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-logo {
    display: flex;
    align-items: center;
  }

  .top-logo img {
    width: 80vh;
    max-width: 136px;
    height: auto;
  }

  .top-logo h1 {
    font-size: 56px;
    margin-left: 10px;
    color: #229799;
  }

  .highlight {
    color: #FECD44;
  }

  .nav-links {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 350px;

  }

  .nav-links li {
    margin-left: 30px;
  }

  .nav-links a {
    text-decoration: none; 
    color: #229799; 
    font-weight: bold; 
    transition: color 0.3s, text-decoration 0.3s; 
  }

  .nav-links a.active { 
    color: #FECD44;
    text-decoration: underline; 
  }

  .nav-links a:hover { 
    color: #FECD44; 
    text-decoration: underline; 
  }

  .profile {
    width: 40px;
    height: 40px;
    margin-left: -50px;
  }

  main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    max-width: 1800px;
  }

  .hero {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .text-content {
    max-width: 700px;
  }

  .text-content h2 {
    font-size: 80px;
    color: #01616d;
  }

  .text-content p {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }

  .buttons {
    margin-top: 40px;
  }

  .btn-primary, .btn-secondary {
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 40px;
    border: none;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .btn-primary {
    background-color: #FECD44;
    color: #424242;
  }

  .btn-primary:hover {
    background-color: #ddb545;
  }

  .btn-secondary {
    background-color: white;
    color: #f2c94c;
    border: 2px solid #f2c94c;
  }

  .btn-secondary:hover {
    background-color: #f2c94c;
    color: #424242;
  }

  .image-content {
    max-width: 651px;
  }

  .dog-image {
    width: 80vw;
    max-width: 690px; 
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
    margin-left: -70px; 
  }
  
  .lp-signup-btn {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #FECD44;
    border: none;
    cursor: pointer;
    color: #424242;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
  }

  .lp-signup-btn:hover {
    background-color: #ddb545;
  }

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(5px); 
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modal-content h2 {
  text-align: center;
  padding: 20px;
  color: #424242;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}


form.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type="text"], input[type="date"], input[type="time"], textarea {
  width: 48%;
  padding: 10px;
  border: 1px solid #229799;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: #424242;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

input.full-width {
  width: 100%;
  padding: 10px;
  border: 1px solid #229799;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: #424242;
  text-align: center;
}


textarea {
  width: 100%;
  resize: none;
  padding: 10px;
}


.btn-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


.submit-btn {
  background-color: #FECD44;
  color: #424242;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 48%;
}

.submit-btn:hover {
  background-color:  #ddb545;
  opacity: 0.9;
}

.cancel-btn {
  background-color: #fff;
  color: #424242;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  width: 48%;
}

.cancel-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
} 

.main-row {
  display: flex;
}

/* Responsive CSS */


@media (max-width: 1625px) {
  
  .top-logo {
    display: flex;
    align-items: center;
  } 

  .top-logo img {
    width: 80vh;
    max-width: 136px;
    height: auto;
  }

  .top-logo h1 {
    font-size: 56px;
    margin-left: 10px;
    color: #229799;
  }

  .nav-links {
    font-size: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 230px;

  }

  
  .dog-image {
    width: 80vw;
    max-width: 650px; 
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
    margin-left: -70px; 
  }

  .lp-signup-btn {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    background-color: #FECD44;
    border: none;
    cursor: pointer;
    color: #424242;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
    margin-left: -50px;
  }
  
}

@media (max-width: 1365px) {
  
  .text-content {
    max-width: 500px;
  }
  .text-content h2 {
    font-size: 60px;
  }

  .text-content p {
    font-size: 14px;
  }

  .top-logo {
    display: flex;
    align-items: center;
  } 

  .top-logo img {
    width: 80vh;
    max-width: 136px;
    height: auto;
  }

  .top-logo h1 {
    font-size: 50px;
    margin-left: 10px;
    color: #229799;
  }

  .nav-links {
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 150px;

  }

  .btn-primary, .btn-secondary {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 40px;
    border: none;
    transition: background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .btn-secondary {
    background-color: white;
    color: #f2c94c;
    border: 2px solid #f2c94c;
  }

  .dog-image {
    width: 80vw;
    max-width: 600px; 
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
    margin-left: -70px; 
  }

  .lp-signup-btn {
    width: 13 0px;
    height: 50px;
    border-radius: 15px;
    background-color: #FECD44;
    border: none;
    cursor: pointer;
    color: #424242;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s;
    margin-left: -50px;
  }
  

}
/* Appointments Page Styles */

.appointments-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  max-width: 1900px;
}

.appointments-row h2 {
  color: #229799;
  margin-left: 20px;
  font-size: 1.5rem;
}

.add-appointmentsbtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #FECD44;
  border: none;
  border-radius: 10px;
  color: #424242;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.appointments-container {
  display: flex;
  gap: 5rem;
  margin-left: 30px;
  margin-top: 20px;
  width: 100%;
  max-width: 1800px;
}


.appointments-container h2 {
  font-weight: 400;
  font-size: 22px !important;
}

.calendar-section {
  width: 550px;
}

.calendar-section h2 {
  color: #229799;
  font-size: 1.5rem;
  font-weight: 500;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: #424242;
}

.calendar-header h3 {
  font-weight: 400;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #424242;
}


.weekdays,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  text-align: center;
  
}

.weekdays div {
  font-weight: bold;
  color: #424242;
  font-weight: 400f;
}

.days div {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.days div.active {
  background-color: #229799;
  color: #fff;
}

.appointments-list {
  width: 100%;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header h2 {
  color: #229799;
  font-size: 1.5rem;
  font-weight: 500;
}

.see-all {
  color: #229799;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.list-filters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 10px;
  padding: 10px;
  font-weight: 400;
  color: #424242;
  width: 100%;
}

.filter {
  cursor: pointer;
  color: #424242;
}

.appointments {
  margin-top: 10px;
}

.appointment-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.appointment-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.appointment-details {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  color: #424242;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
}

.status.confirmed {
  background-color: #E6FFEA;
  color: #00A300;
}

.status.cancelled {
  background-color: #FFEEEE;
  color: #FF4D4D;
}
